#body
{
	min-width : 1100px;
	width : 90%;
	margin : auto;
	padding : 0px;
}
/*
   Je met des bords, ceci est TEMPORAIRE. (car moche)
*/
#head,#corps,#menuGauche,#menuDroite
{
	border : 1px;
	border-color : black;
}
#head
{
	padding : 0px;
	background-color : gray;
	text-align : center;
}
#menuConnexion
{
	padding : 0px;
}
#corps, #menuGauche, #menuDroite
{
	padding : 0px;
	padding-top : 10px;
}
#menuGauche
{
	float : left;
}
#menuDroite
{
	float : right;
}
.sousListe
{
	border-left : 2px;
	border-color : gray;
}
