/*				Le style du site "BlooDy"				*/

#head,#corps,#menuGauche,#menuDroite
{
	border-style : solid;
	border : 2px;
	border-color : #FFF;
}
#corps, #menuGauche, #menuDroite
{
	padding : 10px;
	margin-top : 10px;
}

/*	Sélection d'un contenant unique	*/
#body
{
	min-width : 1100px;
	width : 90%;
	margin : auto;
	padding : 0px;
}
#head
{
	padding : 0px;
	background-color : gray;
	text-align : center;
}
#menuConnexion
{
	padding : 0px;
}
#menuGauche
{
	float : left;
}
#menuDroite
{
	float : right;
}
.sousListe
{
	border-left : 2px;
	border-color : gray;
}
