/*				Le style du site "BlooDy"				*/

/*	Sélection multiple	*/
#head, #corps, #menuGauche, #menuDroite, #foot
{
	border-style : solid;
	border-width : 1px;
	border-color : #000;
}
#corps, #menuGauche, #menuDroite
{
	padding : 10px;
	margin-top : 10px;
	min-height : 400px;
}
#menuGauche, #menuDroite
{
	width : 150px;
}

/*	Sélection d'un contenant unique	*/
#body
{
	min-width : 1100px;
	width : 90%;
	margin : auto;
	padding : 0px;
}
#corps
{
	margin-right : 170px;
	margin-left : 170px;
	border-right : none;
	border-left : none;
}
#head
{
	padding : 0px;
	background-color : #AAA8A9;
	border-bottom : none;
	text-align : center;
}
#menuConnexion
{
	border : solid 1px #000;
	border-top : none;	
	background-color : gray;
	padding : 0px;
}
#menuGauche
{
	float : left;
}
#menuDroite
{
	float : right;
}
#foot
{
	margin-top : 10px;
}
.sousListe
{
	border-left : 1px;
	border-color : gray;
}
#menuGaucheinscr
{
	margin-left: auto;
	margin-right: auto;
	width:164px;
	height:62px;
	background-image:url('/images/menuG_Noinscrire.png');
	background-repeat:no-repeat;
}
#menuGaucheinscr:hover
{
	background-image:url('/images/menuG_Oinscrire.png');
}
.imagetransparent
{
	border:none;
}
