/*				Le style du site "BlooDy"				*/

/*	Supprimer l'effet de bordure dans les liens images (c'est moche) */
img
{
	border:0;
}

/*	Sélection multiple	*/
#head, #corps, #menuGauche, #menuDroite, #foot
{
	border-style : solid;
	border-width : 1px;
	border-color : #000;
}
#corps, #menuGauche, #menuDroite
{
	padding : 10px;
	margin-top : 10px;
	min-height : 400px;
}
#menuGauche, #menuDroite
{
	width : 150px;
}


/*	Sélection d'un contenant unique	*/
#body
{
	min-width : 1100px;
	width : 90%;
	margin : auto;
	padding : 0px;
}
#centre {
	width: 100%;
	overflow: hidden;
}
#corps
{
	margin-right : 170px;
	margin-left : 170px;
	border-right : none;
	border-left : none;
}
#head
{
	padding : 0px;
	background-color : #AAA8A9;
	border-bottom : none;
	text-align : center;
}
#barreDeNavigation
{
	border : solid 1px #000;
	border-top : none;	
	background-color : gray;
	padding : 0px;
}
#menuConnexion
{
	float:left;
}
#barreDeRecherche
{
	text-align:right;
}
#menuGauche
{
	float : left;
	padding-top:1px;
	padding-bottom:1px;
}
#menuDroite
{
	float : right;
}
#foot
{
	margin-top : 10px;
	text-align:center;
	font-size:0.8em;
	font-style:italic;
}
.sousListe
{
	border-left : 1px;
	border-color : gray;
}
#menuGaucheinscr
{
	margin-left: auto;
	margin-right: auto;
	width:164px;
	height:62px;
	background-image:url('/images/menuG_Noinscrire.png');
	background-repeat:no-repeat;
}
#menuGaucheinscr:hover
{
	background-image:url('/images/menuG_Oinscrire.png');
}
#menuGauche ul
{
	list-style-type:none;
	padding-left:5px;
}
#menuGauche a, #menuGauche a:hover, #menuGauche a:active
{
	color:black;
	text-decoration:none;
}
/*formulaire */
#formulaire_inscription
{
	width: 70%;
margin:auto;
}


#formulaire_inscription dd
{
	margin: 2px 0;
	
}
#formulaire_inscription p
{
	float:right;
}
/* fieldset , legend */
#formulaire_inscription fieldset
{
	margin-bottom: 1px;
	border: #CCC 1px solid;
}

#formulaire_inscription fieldset:hover
{
	background-color: #FFF;
}

#formulaire_inscription fieldset legend
{
	padding: 0 10px;
	border-left: #CCC 1px solid;
	border-right: #CCC 1px solid;
	font-size: 1.2em;
	color: #999;
}
/*label*/
#formulaire_inscription label
{
	background-color: #FFCC66;
	display: block;
	width:50%;
	float: left;
	padding-right: 1%;
	letter-spacing: 1px;
	margin-top:5px;
}
#formulaire_inscription label:hover
{
	font-weight: bold;
}
#formulaire_inscription .form_label_nostyle
{
	background: none;
}
#formulaire_inscription input, #formulaire_inscription select
{
	width:40%;
	margin-top:4px;
	margin-left:30px;
	border: #CCC 1px solid;
}

#formulaire_inscription input:hover, #formulaire_inscription select:hover, #formulaire_inscription input:focus, #formulaire_inscription select:focus
{
	border: #999 1px solid;
	background-color: #DDEEFF;
}

/* button submit */
#input[type="submit"]
{
	border: #DDEEFF 1px solid;
	float:right;
}

#formulaire_inscription input[type="submit"]:hover
{
	background-color: #66CC33;
	cursor: pointer;
}

#formulaire_inscription input[type="reset"]
{
	border: #DDEEFF 1px solid;
}

#formulaire_inscription input[type="reset"]:hover
{
	background-color: #E6484D;
	cursor: pointer;
}
